<?xml version="1.0" encoding="utf-8"?>
<DataType Key="b746afc5-dd54-4210-9ae6-6de3698cbef6" Alias="Article - Tags - Tags" Level="1">
  <Info>
    <Name>Article - Tags - Tags</Name>
    <EditorAlias>Umbraco.Tags</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Group": "default",
  "StorageType": 1,
  "Delimiter": "\u0000"
}]]></Config>
</DataType>