<?xml version="1.0" encoding="utf-8"?>
<Media Key="d122e4e4-88b1-48f1-ba15-6ba370f4a080" Alias="Forest" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Forest</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-07-03T19:58:51</CreateDate>
    <NodeName Default="Forest" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/2lscfunr/forest.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>