<?xml version="1.0" encoding="utf-8"?>
<Content Key="82789fdb-c586-452a-b2c4-0f39a0654053" Alias="Articles" Level="2">
  <Info>
    <Parent Key="4f024558-f739-4a40-a226-1b5a355e8b4f">Home</Parent>
    <Path>/Home/Articles</Path>
    <Trashed>false</Trashed>
    <ContentType>articles</ContentType>
    <CreateDate>2022-07-04T23:27:12</CreateDate>
    <NodeName Default="Articles" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <blocks>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/72c088d69c3347edb775428af6539ea1"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "7e00b80c-d665-41d6-851c-a907424ffc77",
      "udi": "umb://element/72c088d69c3347edb775428af6539ea1",
      "title": "This is a hero on an articles page",
      "media": "[\n  {\n    \"key\": \"e69b95ef-aa3e-4a89-9b24-60f2db5944eb\",\n    \"mediaKey\": \"d122e4e4-88b1-48f1-ba15-6ba370f4a080\"\n  }\n]"
    }
  ],
  "settingsData": []
}]]></Value>
    </blocks>
  </Properties>
</Content>