<?xml version="1.0" encoding="utf-8"?>
<Content Key="cc003691-48aa-478c-97c9-01488476186a" Alias="Article #1" Level="3">
  <Info>
    <Parent Key="82789fdb-c586-452a-b2c4-0f39a0654053">Articles</Parent>
    <Path>/Home/Articles/Article1</Path>
    <Trashed>false</Trashed>
    <ContentType>article</ContentType>
    <CreateDate>2022-07-04T23:28:44</CreateDate>
    <NodeName Default="Article #1" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <author>
      <Value><![CDATA[Some person]]></Value>
    </author>
    <blocks>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/2754e1cd4f5a491b93db045c324a201e"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "dc94d31f-7822-423d-a840-287fd13a407f",
      "udi": "umb://element/2754e1cd4f5a491b93db045c324a201e",
      "quote": "Quote block on article #1",
      "author": "Author"
    }
  ],
  "settingsData": []
}]]></Value>
    </blocks>
    <published>
      <Value><![CDATA[2022-07-04T00:00:00]]></Value>
    </published>
    <tags>
      <Value><![CDATA[["News"]]]></Value>
    </tags>
    <title>
      <Value><![CDATA[Article #1]]></Value>
    </title>
  </Properties>
</Content>