<?xml version="1.0" encoding="utf-8"?>
<Content Key="4f024558-f739-4a40-a226-1b5a355e8b4f" Alias="Home" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>home</ContentType>
    <CreateDate>2022-07-03T19:50:04</CreateDate>
    <NodeName Default="Home" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <blocks>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/9342ad2c55414ed29414c67fb41b02e1"
      },
      {
        "contentUdi": "umb://element/2917bd3c58674bf68d4a39a6c64373cd"
      },
      {
        "contentUdi": "umb://element/9e8153e10b064e81aad87a1eef3f50fd"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "dc94d31f-7822-423d-a840-287fd13a407f",
      "udi": "umb://element/2917bd3c58674bf68d4a39a6c64373cd",
      "quote": "To be or not to be",
      "author": "Shakespeare"
    },
    {
      "contentTypeKey": "7e00b80c-d665-41d6-851c-a907424ffc77",
      "udi": "umb://element/9342ad2c55414ed29414c67fb41b02e1",
      "title": "This is a hero",
      "media": "[\n  {\n    \"key\": \"d794339f-538b-43c1-b452-5b0b9305bb56\",\n    \"mediaKey\": \"d122e4e4-88b1-48f1-ba15-6ba370f4a080\"\n  }\n]"
    },
    {
      "contentTypeKey": "ae8495ec-5a15-4008-b8ee-f9c1ccf1b974",
      "udi": "umb://element/9e8153e10b064e81aad87a1eef3f50fd",
      "articles": "umb://document/cc00369148aa478c97c901488476186a"
    }
  ],
  "settingsData": []
}]]></Value>
    </blocks>
    <title>
      <Value><![CDATA[Testing headless]]></Value>
    </title>
  </Properties>
</Content>